.ams-countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    margin: 20px 0;
}

.ams-countdown-item {
    text-align: center;
}

.ams-countdown-number {
    font-size: 3rem;
    display: block;
}

.ams-countdown-label {
    font-size: 0.8rem;
    color: #555;
}
